<h2>Details</h3>
<h5><strong>{{course.name}}</strong> | {{course.type}}</h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi ex nemo temporibus perferendis cupiditate porro, dignissimos quia non nihil minus, qui consequatur ut ad, dolorem eligendi ipsam? Vitae, laborum quisquam.</p>